@import '../../styles/mixins.scss';

.header {
  position: relative;
  margin-top: -8rem;
  padding-bottom: 2rem;

  &__container {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
}

.wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  transform: translate(0, 20%);
}

.image {
  z-index: -1;
  object-fit: cover;
}

.title {
  transform: translate(0, -50%);

  @include onTablet {
    transform: translate(0, -40%);
  }
}

// @media (min-width: 768px) and (max-width: 1220px) {
//   .title {
//     font-size: 6rem;
//   }

//   .title::after {
//     font-size: 8rem;
//   }
// }

// @media (min-width: 361px) and (max-width: 767px) {
//   .title {
//     font-size: 4rem;
//   }

//   .title::after {
//     font-size: 6rem;
//   }
// }

// @media (max-width: 360px) {
//   .title {
//     font-size: 2.5rem;
//   }

//   .title::after {
//     font-size: 6rem;
//   }
// }
