@import '../../styles/mixins.scss';

.review_section {
  padding: 0 4rem 8rem;

  @include onTablet {
    padding: 0 1.5rem 5.5rem;
  }
}

.carousel_wrapper {
  max-width: 100%;
  overflow: hidden;
}

.cards_container {
  width: 100%;
  display: flex;
  gap: 1.5rem;
  margin-bottom: 1.5rem;
  transition: transform 0.6s ease;

  & img {
    margin-right: 0.5rem;
  }
}

.arrows_container {
  display: flex;
  gap: 2rem;
  justify-content: flex-end;

  @include onDesktop {
    justify-content: center;
  }

  &__arrow {
    cursor: pointer;
  }
}
