@import '@/styles/var.scss';

.pagination {
  display: flex;
  justify-content: center;

  li {
    padding: 5px;
    display: inline-block;
    font-family: var(--font-baiJamjuree);
    font-weight: 600;
    font-size: 1.5em;
    color: #919191;

    a {
      text-decoration: none;
      color: #919191;
      transition: 1s;

      &:hover {
        color: $orange-secondary-100;
      }
    }
  }

  .pageItemActive {
    pointer-events: none;

    a {
      color: #000;
    }
  }

  li:first-child {
    margin-right: 5px;
  }

  li:last-child {
    margin-left: 5px;
  }
}

.disabled {
  pointer-events: none;
  opacity: 0.5;
}