@import '../../../styles/mixins.scss';
@import '../../../styles/var.scss';

.modal {
  display: none;
  position: fixed;

  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  justify-content: center;
  align-items: center;
  z-index: 3;

  &__wrapper {
    position: absolute;
    height: 836px;
    width: 584px;
    background-color: $white;
    border-radius: 1rem;

    @include onMobile {
      height: 100vh;
      width: 100vw;
    }
  }

  &.open {
    display: flex;
  }

  &__content {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 48px;

    @include onMobile {
      padding: 57px 140px;
    }

    @include onSmall {
      padding: 56px 21px;
    }
  }

  &__top {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 32px;
  }

  &__main {
    margin-bottom: 32px;
  }
}

.header {
  color: $gray-primary;
  font-family: var(--font-baiJamjuree);
  font-size: 40px;
  line-height: normal;
  font-weight: 600;

  @include onMobile {
    font-size: 4.5vw;
  }

  @include onSmall {
    font-size: 7vw;
  }
}

.close {
  display: flex;
  align-items: center;
  cursor: pointer;
}

.form {
  &__input {
    height: 56px;
    width: 100%;
    border-radius: 8px;
    margin-bottom: 32px;
    padding: 16px;
    border: 1px solid $gray-100;
  }

  &_terms {
    margin-bottom: 2rem;
    &__link {
      color: $orange-secondary-100;
      text-decoration: none;
    }
  }

  &__button {
    color: #fff;
    font-weight: 500;
    font-size: 18px;

    background-color: $gray-primary;
    width: 100%;
    height: 50px;
    border-radius: 56px;
    margin-bottom: 32px;
  }
}

.border {
  position: relative;
  display: flex;
  justify-content: center;

  &__text {
    position: absolute;
    text-align: center;
    width: 167px;
    background-color: #fff;
    font-size: 16px;
    color: #67666b;
  }

  &__line {
    margin-top: 11px;
    border-bottom: 1px solid #a9a9b0;
    width: 100%;
  }
}

.socials {
  display: flex;
  justify-content: center;
  gap: 32px;
  margin-bottom: 32px;

  &__container {
    height: 48px;
    width: 48px;
    border: 1px solid $gray-primary;
    border-radius: 56px;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  &__facebook {
    height: 34px;
    width: 34px;
    background: url('../../../public/icons/facebook.svg') no-repeat center/cover;
  }
  &__google {
    height: 34px;
    width: 34px;
    background: url('../../../public/icons/google.svg') no-repeat center/cover;
  }
  &__apple {
    height: 34px;
    width: 34px;
    background: url('../../../public/icons/apple.svg') no-repeat center/cover;
  }
}

.account {
  display: flex;
  gap: 16px;

  &__login {
    cursor: pointer;
    color: $orange-secondary-100;
    transition: 1s ease-in;

    &:hover {
      border-bottom: 1px solid $orange-secondary-100;
    }
  }
}
