.feature_section {
  margin: 6.25rem 0;
}
.title {
  color: #4D6575;
  text-align: center;
  font-family: var(--font-baiJamjuree);
  font-size: 2.5rem;
  font-style: normal;
  font-weight: 600;
  line-height: 150%; /* 3.75rem */
  text-transform: capitalize;

  /* margin: 6.25rem 0 4.5rem; */
  margin-bottom: 4.5rem;
  position: relative;
}

.title::after {
  content: 'yachts';
  font-family: var(--font-bEs);
  color: #E7801A;
  position: absolute;
  top: 50px;
  left: 50%;
  text-transform: lowercase;
  font-weight: 400;
  line-height: 30%;
  font-size: 6.25rem;
}

.cards_container {
  display: flex;
  justify-content: space-between;
}
