@import '../../../styles/var.scss';
@import '../../../styles/mixins.scss';

.modal {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: transparent;
  z-index: 3;

  &.open {
    display: flex;
  }

  &__content {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;

    position: absolute;
    top: 4rem;
    right: 12rem;
    background-color: $white;
    padding: 1.5rem 1.25rem;
    border: 1px solid $gray-20;
    border-radius: 1rem;
    box-shadow: 10px 10px 5px 0px $gray-80;

    @include onExtraLarge {
      right: calc((100vw - ((100vw - 120rem) / 2)) - 108rem);
    }

    @include onTablet {
      top: 50%;
      right: 50%;
      transform: translate(50%, -50%);
    }
  }

  &__link {
    display: flex;
    align-items: center;
    justify-content: space-around;
    gap: 0.625rem;

    padding: 0.5rem 1rem;
    border-bottom: 1px solid $gray-primary;
    text-decoration: none;
    color: #192358;


    &:hover {
      border-bottom: 1px solid $orange-secondary-100;
      color:$gray-primary
    }

    &__active {
      color: $black;
      background-color: $white;
    }
  }
  &__img{
    border-radius: 9999px;
  }
}
