@import '../../../styles/var.scss';
@import '../../../styles/mixins.scss';

.modal {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  // background-color: rgba(0, 0, 0, 0.5);
  background-color: transparent;
  // justify-content: center;
  // align-items: center;
  z-index: 3;

  &.open {
    display: flex;
  }

  &__content {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;

    position: absolute;
    top: 5rem;
    right: 12rem;
    background-color: $white;
    padding: 1.5rem 1.25rem;
    border-radius: 1rem;

    @include onExtraLarge {
      right: calc((100vw - ((100vw - 1920px) / 2)) - 108rem);
    }

    @include onTablet {
      top: 50%;
      // left: 50%;
      right: 50%;
      transform: translate(50%, -50%);
    }
  }

  &__link {
    display: flex;
    gap: 0.625rem;

    padding: 0.5rem 1rem;
    border-radius: 0.5rem;
    border: 1px solid $gray-primary;

    text-decoration: none;

    &__active {
      background-color: $gray-primary;
    }
  }
}
