.button {
  display: flex;
  width: 14.375rem;
  height: 3.0625rem;
  justify-content: center;
  align-items: center;
  border-radius: 3.5rem;
  background: #4D6575;
  border: none;
}

.link {
  text-decoration: none;
  font-family: var(--font-roboto);
  color: #fff;
  font-size: 1.125rem;
  line-height: normal;
}

.header {
  transform: translateY(100px);
}