@import '../../styles/mixins.scss';
@import '../../styles/var.scss';

.button {
  padding: 0.75rem 2.5rem;
  border-radius: 3.5rem;
  color: $white;
  font-size: 1.125rem;
  line-height: normal;
  text-decoration: none;
}

.primary {
  background: $gray-primary;
  border: 1px solid $gray-primary;

  &:hover {
    background: $orange-secondary-100;
    border: 1px solid $orange-secondary-100;
  }

  &:active {
    background: $orange-secondary-110;
    border: 1px solid $orange-secondary-110;
  }
}

.secondary {
  background: $orange-secondary-100;
  border: 1px solid $orange-secondary-100;

  &:hover {
    background: $orange-secondary-110;
    border: 1px solid $orange-secondary-110;
  }

  &:active {
    background: transparent;
    border: 1px solid $orange-secondary-100;
  }
}

.center {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.header {
  transform: translate(0, -200%);

  @include onLarge {
    transform: translate(0, -100%);
  }

  @include onTablet {
    transform: translate(0, -30%);
  }
}

.hover {
  display: none;
}
