@import '../../../styles/var.scss';
@import '../../../styles/mixins.scss';

.modal {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  justify-content: center;
  z-index: 4;

  &__wrapper {
    position: absolute;
  }

  &.open {
    display: flex;
  }

  &__content {
    position: relative;
    display: flex;
    flex-direction: column;
    background-color: $white;
    padding: 0.5rem;
  }
}

.gallery {
  width: 100%;
  height: 100%;
  overflow: scroll;

  &__container {
    // position: relative;
    display: grid;
    grid-template-columns: 8.2rem auto 15.6rem;
    gap: 0.8rem;
    height: 100vh;

    @include onSmall {
      display: block;
    }
  }

  &_small {
    height: 100vh;
    overflow: scroll;

    @include onSmall {
      display: none;
    }
  }
}

.social {
  display: flex;
  flex-direction: column;
  gap: 1rem;

  @include onSmall {
    display: none;
  }

  &__top {
    display: flex;
    justify-content: flex-end;
  }

  &__middle {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;
  }

  &__bottom {
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 1px solid;
  }

  &__country {
    color: $gray-primary;
    font-weight: 600;
    font-size: 1.5rem;
  }

  &__name {
    font-size: 2rem;
    font-weight: 600;
    color: $orange-secondary-100;
  }
}

.slider {
  height: 100vh;
  display: flex;

  &__image {
    object-fit: cover;
    width: 100%;
    height: 100%;

    &_small {
      object-fit: cover;
      border-radius: 1rem;
      height: 5rem;
      width: 7.5rem;
      opacity: 0.8;
    }
  }
}
