.navbar {
  display: flex;
  /* font-family: var(--font-roboto); */
  justify-content: space-between;
  align-items: center;
  height: 2.375rem;
  padding: 2rem 4rem;
  width: 100%;
}

.link {
  font-family: var(--font-roboto);
  text-decoration: none;
  color: #081433;
  font-size: 1.125rem;
  font-style: normal;
  font-weight: 500;
  line-height: 150%;
}
