@import '@/styles/var.scss';
@import '@/styles/mixins.scss';

.navbar {
  position: relative;
  z-index: 2;

  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 2rem 4rem;

  &__side {
    display: flex;
    width: 35%;

    &:last-child {
      justify-content: flex-end;
    }
  }

  @include onTablet {
    padding: 1rem 1.25rem;
  }
}

.link {
  color: $black;

  font-size: 1.125rem;
  font-weight: 500;
  
  text-decoration: none;

  &:not(:last-child) {
    margin-right: 2.5rem;
  }
}

.logo {
  display: flex;
  justify-content: center;
  align-items: center;

  &__image {
    @include onDesktop {
      width: 170px;
    }

    @include onSmall {
      width: 120px;
    }
  }
}
