@import '@/styles/var.scss';
@import '@/styles/mixins.scss';

.navbar {
  z-index: 2;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 2rem 4rem;

  &__side {
    display: flex;
    align-items: center;
    width: 45%;

    &:last-child {
      justify-content: flex-end;
    }
  }

  @include onTablet {
    padding: 1rem 1.25rem;
  }
}

.link {
  color: $black;
  font-size: 1.125rem;
  padding: rem(6) 0;
  font-weight: 500;
  text-decoration: none;
  transition: 0.5s;

  &:not(:last-child) {
    margin-right: 1.5rem;
  }

  &:hover {
    color: $orange-secondary-100;
    text-decoration: underline;
  }
}

.userLoggedNavLink {
  position: relative;
  &:hover {
    .userLoggedNavLink__subMenu {
      visibility: visible;
      opacity: 1;
    }
  }

  &__subMenu {
    position: absolute;
    top: 100%;
    width: 100%;
    width: rem(130);
    display: flex;
    visibility: hidden;
    opacity: 0;
    padding: rem(16);
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: $white;
    border-radius: rem(16);
    list-style: none;
    transition: 0.5s ease;
  }
  &__item {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: rem(8) rem(16);
    &:hover {
      border-bottom: 1px solid $gray-primary;

      button {
        color: $orange-secondary-100;
      }
    }
    button {
      font-weight: 400;
      font-size: rem(16);
      padding: 0;

      &:hover {
        text-decoration: none;
      }
    }
  }
}

.account_icon {
  height: 24px;
  width: 24px;
  background: url('../../public/icons/user.svg') no-repeat center/cover;
}

.favourite_icon {
  height: 20px;
  width: 20px;
  background: url('../../public/icons/heart_empty.svg') no-repeat center/cover;
}

.logo {
  display: flex;
  justify-content: center;
  align-items: center;

  &__image {
    @include onDesktop {
      width: 10.6rem;
      height: auto;
    }

    @include onSmall {
      width: 7.5rem;
      height: auto;
    }
  }
}
