@import '../../../styles/mixins.scss';
@import '../../../styles/var.scss';

.page {
  display: flex;
  gap: 2rem;
  flex-direction: row;
  padding: 1rem;

  @include onTablet {
    flex-direction: column;
  }
}

.body {
  max-width: 60vw;

  @include onTablet {
    max-width: 100vw;
  }

  &__top {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;

    @include onMobile {
      flex-direction: column;
      align-items: start;
    }
  }

  &__bottom {
    margin-bottom: 2rem;
  }

  &__about {
    display: flex;
    gap: 2rem;

    @include onMobile {
      flex-direction: column;
    }

    &_text {
      max-width: 46rem;

      @include onMobile {
        max-width: 100%;
      }

      @include onTablet {
        max-width: 767px;
      }
    }

    &_featch {
      display: flex;
      justify-content: space-between;

      @include onMobile {
        border-bottom: 1px solid $gray-80;
      }
    }

    &_featchures {
      display: flex;
      flex-direction: column;
      justify-content: space-around;
      width: 100%;
      max-width: 25rem;

      @include onMobile {
        max-width: 100vw;

      }
    }
  }
}

.form {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  padding: 2.5rem 4.5rem;
  border: 0.06rem solid $gray-80;
  border-radius: 2rem;
  height: 100%;

  &_top {
    display: flex;
    align-items: center;
    gap: 15px;
    line-height: 1rem;
    margin: 1rem;
  }

  &_container {
    height: 41rem;
    width: 100%;
    max-width: 36.5rem;
    margin-bottom: 5rem;

    @include onTablet {
      width: 100%;
      max-width: 100%;
    }
  }

  &_modal {
    position: relative;

    &:hover {
      &::after {
        position: absolute;
        top: -10rem;
        left: -23rem;
        width: 22rem;
        height: 7.3rem;
        height: max-content;
        background-color: white;
        border: 1px solid $gray-80;
        border-radius: 0.5rem;
        padding: 1rem;
        line-height: 1.8rem;
        z-index: 2;

        @include onSmall {
          width: 13rem;
          line-height: 1.2rem;
        }

        @include onTablet {
          top: -8rem;
          left: 2rem;
        }

        content: 'VAT (Value-Added Tax) is a consumption tax applied to goods and services in the EU and other regions, including Norway. The rate can vary by country and product type. Read more...';
      }
    }
  }

  &_header {
    margin-bottom: 2rem;
  }

  @include onLarge {
    padding: 2.5rem 4.5rem;
  }

  @include onDesktop {
    padding: 1rem 2rem;
  }

  @include onTablet {
    padding: 4rem 8rem;
  }

  @include onMobile {
    padding: 1rem 2rem;
  }

  @include onSmall {
    padding: 1rem 1.25rem;
  }

  &_group {
    margin-bottom: 2rem;
  }
}

.input {
  width: 100%;
  font-size: 1rem;
  line-height: 1rem;
  padding: 1rem;
  border-radius: 0.5rem;
  border: 1px solid $gray-20;
  background-color: transparent;
  outline: none;
  transform: background-color 0.6s ease;

  &__textarea {
    width: 100%;
    height: 15rem;
    font-size: 1rem;
    line-height: 1.5rem;
    font-family: var(--font-roboto);
    resize: none;
  }

  &:focus {
    border: 1px solid $orange-secondary-100;

    &+.label {
      top: 0;
      color: $black;
      font-size: 0.75rem;
    }
  }

  &__error {
    border-color: $error-color;

    &+.label {
      top: 0;
      color: $white;
      font-size: 0.75rem;
    }
  }

  &__success {
    border-color: $success-color;

    &+.label {
      top: 0;
      color: $white;
      font-size: 0.75rem;
    }
  }
}

.error_message {
  position: absolute;
  left: 0;
  bottom: -1rem;
  font-size: 0.75rem;
  line-height: 1.125;
  color: $white;
}

.submit {
  width: 230px;
  height: 50px;
  padding: 0.625rem 2.5rem;
  border-radius: 3.5rem;
  color: $white;
  font-size: 1.125rem;
  line-height: normal;
  text-decoration: none;
  background: $orange-secondary-100;
  border: 1px solid $orange-secondary-100;

  &:hover {
    background: $orange-secondary-110;
    border: 1px solid $orange-secondary-110;
  }

  &:active {
    background: transparent;
    border: 1px solid $orange-secondary-100;
  }
}