@import '../../styles/mixins.scss';

.catalog_title {
    display: block;
    padding: 0 4rem;
    margin-bottom: -15px;

    @include onTablet {
        padding: 1.5rem 1.25rem 0.2rem;
    }

    @include onMobile {
        padding-bottom: 0;
        margin-bottom: -22px;
    }
}

.no_yachts {
    text-align: center;
    font-size: 2rem;
    margin: 30px 0;
    font-weight: 400;
}

.catalog_container {
    padding-bottom: 3.5rem;
}