@import '../../styles/mixins.scss';

.title_container {
  position: absolute;
  z-index: 1;
  width: 230%;

  @include onDesktop {
    top: -2rem;
  }

  &__odd {
    transform: translate(-50%);

    @include onDesktop {
      transform: translate(-10%);
    }

    @include onTablet {
      transform: translate(0);
    }
  }

  @include onTablet {
    width: 100%;
  }
}