@import '../../styles/var.scss';
@import '../../styles/mixins.scss';

.section {
  padding: 6.25rem 4rem;

  @include onDesktop {
    padding: 4rem 4rem;
  }

  @include onTablet {
    padding: 2.5rem 1.25rem;
  }

  @include onSmall {
    padding: 0;
  }

  
  &_container {
    background-color: $gray-primary;
    display: flex;
    @include onTablet {
      flex-direction: column;
    }

    &__img {
      position: relative;
      height: 40rem;
      width: 50%;

      @include onDesktop {
        height: 32rem;
      }

      @include onTablet {
        height: 21rem;
        width: 100%;
      }
    }

    &__form {
      display: flex;
      flex-direction: column;
      align-items: center;
      padding: 3.5rem 4.5rem;
      width: 50%;

      @include onTablet {
        padding: 3.5rem 5.5rem;
        width: 100%;
      }

      @include onMobile {
        padding: 1.75rem 2rem;
      }

      @include onSmall {
        padding: 2.5rem 1.25rem;
      }
    }
  }
}
