@import '../../styles/var.scss';

.body {
  max-width: 729px;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  margin-top: 30px;
  margin-bottom: 30px;
}

.section {
  margin-bottom: 30px;
}

.link {
  color: $gray-primary;
  text-decoration: none;
  transition: 0.5s;

  &:hover {
    color: $orange-secondary-100;
  }
}

.header {
  margin-bottom: 10px;
}

.subheader {
  margin-bottom: 10px;
}