@import '../../styles/mixins.scss';
@import '../../styles/var.scss';

.card {
  width: 32%;
  margin-bottom: 2.5rem;

  @include onTablet {
    width: 100%;
  }

  &__desc {
    @include onTablet {
      text-align: center;
    }
  }
}

.image_container {
  position: relative;
  display: block;
  width: 100%;
  height: 25rem;
  cursor: pointer;

  @include onDesktop {
    height: 17rem;
  }

  @include onTablet {
    height: 25rem;
  }

  @include onMobile {
    height: 21rem;
  }

  @include onSmall {
    height: 13.5rem;
  }
}

.image {
  object-fit: cover;
}

// button on the center of card image with hover effect om image
.center {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  &__is_hover {
    display: none;
  }

  @include onTablet {
    display: none;
  }
}

// buttons with Hot price, Low price etc.
.top_right {
  position: absolute;
  top: 2.25rem;
  right: 1.5rem;
}
