@import '../../../styles/var.scss';
@import '../../../styles/mixins.scss';

.modal {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  justify-content: center;
  z-index: 4;

  &__wrapper {
    position: absolute;
  }

  &.open {
    display: flex;
  }

  &__content {
    position: relative;
    // width: 100vw;
    display: flex;
    flex-direction: column;
    // align-items: center;
    // justify-content: center;
    // gap: 1.5rem;
    background-color: $white;
    padding: 0.5rem;
  }
}

.gallery {
  width: 100%;
  height: 100%;
  overflow: scroll;

  &__container {
    display: grid;
    grid-template-columns: 120px auto 250px;
    gap: 10px;
    height: 100vh;
  }

  &_small {
    height: 100vh;
  }
}

.social {
  display: flex;
  flex-direction: column;
  gap: 1rem;

  &__top {
    display: flex;
    justify-content: space-around;
    align-items: center;
  }

  &__middle {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;
  }

  &__bottom {
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 1px solid;
    margin-right: 15px;
  }

  &__button {
    padding: 2px;
    border: 1px solid white;
    border-radius: 100%;
    background-color: $orange-secondary-100;
  }

  &__country {
    color: $gray-primary;
    font-weight: 600;
    font-size: 1.5rem;
  }

  &__name {
    font-size: 2rem;
    font-weight: 600;
    color: $orange-secondary-100;
  }
}

.close {
  width: 100%;
  display: flex;
  justify-content: space-between;

  &__button {
    cursor: pointer;
  }
}

.slider {
  height: 100vh;
  display: flex;

  &__image {
    object-fit: cover;
    width: 100%;
    height: 100%;

    &_small {
      object-fit: cover;
      border-radius: 1rem;
      height: 80px;
      width: 120px;
      opacity: 0.5;
    }
  }
}

.active {
  opacity: none;
}

.swiper-slide {

}

.swiper-button-next {
  text-align: center;
  color: white;
  background-color: #373737;
  padding: 1rem;
  font-size: 1.5rem;
  border: none;
  height: 3.5rem;
  width: 100%;
  cursor: pointer;
  transition: all 0.1s ease-in;
}