@import '../../styles/mixins.scss';
@import '../../styles/var.scss';

.body {
  display: flex;
  gap: 10px;

  @include onTablet {
    padding: 1rem 1.2rem;
  }

  padding: 2rem 4rem;
}

.item {
  text-decoration: none;
  text-transform: capitalize;
  color: $black;
  text-decoration: none;
  transition: 0.5s;

  &:hover {
    color: $orange-secondary-100;
  }
}

.disabled {
  pointer-events: none;
  opacity: 0.5;
  text-decoration: none;
  text-transform: capitalize;
  color: $gray-80;
  text-decoration: none;
}

.kek {
  transition: 0.6s;
  &:hover {
    transform: scale(1.1);
  }
}