@import '../../styles/mixins.scss';
@import '../../styles/var.scss';

.body {
  display: flex;
  gap: 10px;

  @include onTablet {
    padding: 1rem 1.2rem;
  }

  padding: 2rem 4rem;
}

.item {
  text-transform: capitalize;
  color: $gray-80;
}