@import './var.scss';

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

.page {
  font-family: var(--font-roboto);
  font-size: 1rem;
  font-style: normal;
  color: $black;
  line-height: 1.5;

  &__body {
    max-width: 120rem;
    margin: 0 auto;
  }
}

// .modal {
//   height: 100vh;
//   background-color: #fff;
//   display: flex;
//   flex-direction: column;
//   align-items: center;

//   &__link {
//     text-decoration: none;
//     color: $black;
//     font-family: var(--font-baiJamjuree);
//     font-size: 1.5rem;
//     margin-bottom: 2.5rem;
//     font-style: normal;
//     font-weight: 500;
//   }
// }
