@import './var.scss';
@import './mixins.scss';

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

.page {
  color: $black;

  font-family: var(--font-roboto);
  font-size: 1rem;
  font-style: normal;
  line-height: 1.5;

  scroll-behavior: smooth;
  overflow-x: hidden;

  &__body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: 100vh;
    max-width: 120rem;
    margin: 0 auto;
  }
}

.cards_container {
  display: flex;
  justify-content: flex-start;
  padding: 3rem 4rem;
  flex-wrap: wrap;
  gap: 2%;

  @include onTablet {
    padding: 2rem 1.25rem;
  }
}
