$gray-primary: #4D6575;
$gray-20: #D9E2EB;
$gray-80: #AAAFB4;
$gray-100: #525659;

$black: #081433;
$white: #FFF;
$blue: #192358;

$error-color: #D41A11;
$success-color: #29A44F;
$copyright-color: #C6C7CC;

$orange-secondary-100: #E7801A;
$orange-secondary-110: #C36101;
