@import '../../../styles/var.scss';

.button {
  background: transparent;
  border: none;
  color: $gray-primary;
  cursor: pointer;

  &:active,
  &:hover,
  &:focus {
    background: transparent;
    border: none;
    color: $gray-primary;
  }
}

.menu {
  background-color: lightgreen;
  border-radius: 1rem;
}

.item {
  width: auto;
  padding: 0.5rem 1rem;
  margin: 1rem 1rem;

  &--active {
    color: $white;
    border-radius: 2rem;
    background-color: $gray-50;
  }

  &:hover {
    color: $white;
    border-radius: 2rem;
    background-color: $gray-primary;
  }
}
